
.d1
{
width: 100%;
height: auto;

}

.d2
{
    text-decoration: none;
    margin-left: 14%; 
    color: black; 
}
.d3
{
    text-decoration: none;
    margin-left: 23%;
    color: black;
}
.d6
{
    text-decoration: none;
    color: black;
    margin-left: 23%;
}

.d10
{
height: auto;
width: 30%;
margin-left: 4.5%;
}
.d11
{
height: auto;
width: 30%;
}
.d12
{
height: auto;
width: 30%;
}

